/*
**  Media Queries
*/
$mq-phone: "only screen and (max-width: 767px)";
$mq-tablet: "only screen and (min-width: 768px) and (max-width: 1024px)";
$mq-desktop: "only screen and (min-width: 1025px)";


/*
**  Sizes
*/
$gutter: 20px;


/*
**  Colors
*/
$brown: #260200;
$blue: #b4dfe0;
$green: #b9c991;
$black: #000;
$offwhite: #f7f8f1;
$red: #cd1c00;
$royal: #23334e;

/*
**  Mixins
*/
@mixin transition($var) {
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}


/**
* Base Styles
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a, a:hover, a:focus, button, button:focus {
  outline: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 $gutter;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Breve Slab Title Book';

  @media #{$mq-desktop} {
    &.short-page {
      padding-bottom: 94px;
    }

  }

}

#mfPreviewBar {
  display: none !important;
}

/*
** Header
*/
#header {
  background-color: $royal;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  text-align: center;
}

#logo {
  font-size: 3.0em;
  color: #fff;
  text-decoration: none;
  font-family: 'Breve Slab Title Bold';
  @include transition(color 0.2s ease-in-out);

  &:visited {
    color: #fff;
  }

  &:hover {
    color: $blue;
  }

}

#main-nav {
  margin-bottom: 10px;

  .menu-link {
    color: $red;
    text-decoration: none;

    & + .menu-link {
      margin-left: 10px;
    }

    &:hover {
      color: #fff;
    }

  }

}


/*
**  Footer
*/
#footer {
  width: 100%;
  padding: $gutter 0;
  background-color: $royal;
  color: $blue;
  text-align: center;
  z-index: 100;
}

.short-page #footer {
  position: absolute;
  left: 0;
  bottom: 0;
}


/*
** Content
*/
#content {
  position: relative;
  background-color: #fff;
  height: 100%;
}


/*
** Grid
*/
#blog-posts {
  background-color: #fff;
  padding-top: $gutter;
  padding-bottom: $gutter;

  .blog-title {
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 10px;
    color: $blue;
  }

}

.grid {

  .grid-item {
    display: block;
    float: left;
    width: 32%;
    position: relative;
    text-decoration: none;
    margin-bottom: 40px;

    @media #{$mq-phone} {
      width: 100%;
      float: none;
      height: auto;
      min-height: 200px;
      margin: 0 0 $gutter;
    }

    .img {
      display: block;
      width: 100%;
      height: auto;
      @include transition(opacity 0.2s ease-in-out);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
    }

    .title {
      text-align: left;
      color: $red;
      font-size: 1.0em;
      margin-bottom: 0;
    }

    .time {
      text-align: left;
      color: #000;
      font-size: 0.85em;
    }

    &:hover .img {
      opacity: 0.6;
    }

    & + .grid-item {
      margin-left: 2%;

      @media #{$mq-phone} {
        margin-left: 0;
      }

    }

    &:nth-child(3n+4) {
      clear: both;
      margin-left: 0;
    }
    
  }

}

#page-nav {
  text-align: center;
  margin-bottom: 40px;
}

.pager-link {
  display: inline-block;
  font-family: 'Breve Slab Title Medium';
  margin: auto;
  background-color: $blue;
  color: $red;
  border-radius: 4px;
  border: 0;
  margin-top: $gutter/2;
  padding: 6px 10px;
  text-decoration: none;
  @include transition(background-color 0.2s ease-in-out);

  &:hover {
    background-color: $royal;
  }

}


/*
**  Newsletter Form
*/
#newsletter {
  color: $blue;

  .title {
    font-size: 2.0em;
    text-align: center;
    margin-bottom: 0;
  }

}

#newsletter-form {
  text-align: center;
  padding: 0 0 $gutter;
}

#email {
  border: 2px solid $blue;
  background-color: #fff;
  padding: 7px 10px;
  margin-right: 10px;
  font-size: 0.85em;
}

#newsletter-submit {
  display: inline-block;
  font-family: 'Breve Slab Title Medium';
  margin: auto;
  background-color: $blue;
  color: $red;
  border-radius: 4px;
  border: 0;
  margin-top: $gutter/2;
  padding: 6px 10px;
  @include transition(background-color 0.2s ease-in-out);

  &:hover {
    background-color: $royal;
  }

}


/*
**  Blog
*/
.blog-title {
  font-size: 2.0em;
  text-align: center;
  color: $blue;
}

.blog-posts {
  //  padding-top: 2*$gutter;
  //  min-height: 100vh;
  background-color: $offwhite;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 40px;

  .post {
    display: block;
    width: 100%;
    margin-bottom: 2*$gutter;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 2*$gutter;

    &:hover {

      .img {
        opacity: 0.6;
      }

      .title a {
        color: $blue;
      }

    }

    .img-container {
      float: left;
      width: 30%;
      min-height: 1px;

      .img {
        display: block;
        max-width: 100%;
        height: auto;
        @include transition(opacity 0.2s ease-in-out);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
      }

    }

    .text {
      width: 60%;
      margin-left: 10%;
      float: left;
    }

    .title {
      color: #000;
      margin-top: 0;

      a {
        color: #000;
        @include transition(color 0.2s ease-in-out);
      }

    }

  }

}


/*
** Article
*/
.article {

  .headers {
    text-align: center;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: $red;
    }

    .tags {
      margin-top: 20px;
    }

  }

  .title {
    color: $blue;
  }

  .contents {
    position: relative;

    .img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  .text {
    width: 100%;
  }

  #post-nav {
    margin: 60px 0;

    .post-link {
      width: 30%;
      color: $red;
      text-decoration: none;

      &#previous-post {
        float: left;
        text-align: left;
      }

      &#next-post {
        float: right;
        text-align: right;
      }

    }

  }

}


/*
**  Home
*/
#pitch {
  background-color: $blue;
  color: $royal;
  text-align: center;
  font-size: 1.15em;
  font-family: 'Breve Slab Title Medium';

  .container {
    padding-top: $gutter;
    padding-bottom: $gutter;
    max-width: 800px;
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

#intro {
  background-color: $offwhite;
  color: $black;

  .container {
    padding-top: $gutter;
    padding-bottom: $gutter;
    max-width: 800px;
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

  }

}

#carousel {
  background-color: $offwhite;
  padding: $gutter 0;
  
  .container {
    position: relative;
  }

  .item {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .carousel-arrow-btn {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    background-color: transparent;
    border: 0;
    color: #869791;
    opacity: 0.5;
    padding: 0;
    font-size: 3.0em;
    background-color: $offwhite;
    height: 100%;

    &:hover {
      opacity: 1;
    }

    &#carousel-prev {
      left: 0;
    }

    &#carousel-next {
      right: 0;
    }

  }

}


/*
**  About the Project
*/
#abouts {
  background-color: $offwhite;
  padding: $gutter 0;
}

#about-the-project {
  float: left;
  width: 48%;

  @media #{$mq-phone} {
    width: 100%;
    float: none;
  }

  .title {
    font-size: 2.0em;
    text-align: center;
    color: $blue;
  }

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}


/*
**  About the Project
*/
#about-the-author {
  float: right;
  width: 48%;

  @media #{$mq-phone} {
    width: 100%;
    float: none;
  }

  .title {
    font-size: 2.0em;
    text-align: center;
    color: $blue;
  }

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}


/*
**  Contents
*/
.contents {

  .content {
    margin-bottom: $gutter;
  }

  .video-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

}
